USE [master]
GO
/****** Object:  Database [jhostter]    Script Date: 01/08/2022 16:03:43 ******/
CREATE DATABASE [jhostter]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'jhostter', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jhostter.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'jhostter_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\jhostter_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [jhostter].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [jhostter]
GO
/****** Object:  Table [dbo].[actores]    Script Date: 01/08/2022 16:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](60) NULL,
	[nacimiento] [date] NULL,
	[sexo] [char](1) NULL,
	[foto] [varchar](700) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[actores_peliculas]    Script Date: 01/08/2022 16:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actores_peliculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[pelicula_id] [int] NOT NULL,
	[actor_id] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[peliculas]    Script Date: 01/08/2022 16:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[peliculas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](40) NULL,
	[titulo] [varchar](100) NULL,
	[fecha_estreno] [date] NULL,
	[foto] [varchar](700) NULL
) ON [PRIMARY]
GO
USE [master]
GO
